html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #848789;

    -webkit-font-smoothing: antialiased;
}

body.no-scroll {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

/* PAGE */

.page {
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HEADER */

.header {
    width: 100%;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 1;
}

.header.fixed {
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    padding: 0.8rem 0;
    top: 0;
}

.header__iner {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
}

/* NAV */

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 0 2.5rem;
    font-size: 0.86rem;
    letter-spacing: 0.2rem;
    color: #4d4959;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: color .2s linear;

}

.nav__link:hover,
.nav__link:focus {
    color: #64c29e;
}

.nav__link:nth-child(2) {
    padding: 0 7.33rem 0 2.5rem;
}

.nav__link:nth-child(2)::after {
    display: none;
}

.nav__link:nth-child(3) {
    padding: 0 2.5rem 0 7.33rem;
}

.nav__link::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background-color: #4d4959;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    margin-top: -1px;
}

.nav__link:last-child::after {
    display: none;
}

.nav__logo {
    margin-right: 4.66rem;
}

/* BURGER */

.burger {
    display: none;
    width: 2.3rem;
    height: 2.3rem;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: opacity .2s linear;
    position: relative;
    right: 1.5rem;
}

.burger__item {
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    background-color: #4d4959;
    transition: background .2s linear;
}

.burger__item.active {
    background: none;
}

.burger__item:before,         .burger__item:after {
    width: 100%;
    height: 3px;
    content: "";
    display: block;
    background-color: #4d4959;
    position: absolute;
    right: 0;
    z-index: 2;
    transition: all .2s linear;
} 

.burger__item:before {
    top: -8px
}

.burger__item.active:before {
    background-color: #fff;
    top: 0;
    transform: rotate(45deg);
}

.burger__item::after {
    bottom: -8px;
}

.burger__item.active::after {
    background-color: #fff;
    bottom: 0;
    transform: rotate(-45deg);
}

/* INTRO */

.intro {
    width: 100%;
    height: 100vh; 
    background: url("../img/intro/Layer\ 7.png") center center no-repeat;
    background-size: cover;
}

/* ABOUT */

.about {
    width: 100%;
    padding: 8rem 0;
    margin: 0 auto;
    background-color: #f7f7f7;
}

/* BLOCK */

.block {
    text-align: center;
}

.block__img {
    margin: 0 0 2rem 0;
}

.block__title {
    margin-bottom: 1.2rem;
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.26rem;
    line-height: 1.6;
    color: #353738;
    font-weight: 700;
    text-transform: uppercase;
}

.block__text {
    font-size: 1.2rem;
    line-height: 2.26rem;
    color: #848789;
    font-weight: 400;
}

.block__text--mini {
    text-align: justify;
    font-size: 1.06rem;
    line-height: 1.875;
}

.block__text--mini::after {
    content: "";
    display: block;
    margin: 2.33rem auto 0;
    width: 50px;
    height: 1px;
    background-color: #d6d7d7;
}

/* WORK */

.work__iner {
    display: flex;
    flex-wrap: wrap;
}

.work__col {
    flex: 0 1 33.333%;
}

.work__col--second {
    order: 1;
}

.work__col--big {
    flex: 0 1 66.667%;
}

.work__col--big--second {
    order: 2;
}

.work__photo {
    display: block;
    height: 100%;
    position: relative;
}

.work__photo:hover .work__logo {
    opacity: 1;
}

.work__photo:focus .work__logo {
    opacity: 1;
}

.work__photo-mini {
    display: block;
    width: 100%;
    /* background: url("../img/work/Layer\ 11.png") center no-repeat;
    background-size: cover;
    padding: 0 0 37.7% 0; */
}

.work__photo-mini--second {
    background: url("../img/work/Layer\ 13.png") center no-repeat;
    background-size: cover;
}

.work__img {
    width: 100%;
    height: 100%;
    /* background: url("../img/work/Layer\ 10.png") center no-repeat;
    background-size: cover; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.work__img--second {
    background: url("../img/work/Layer\ 12.png") center no-repeat;
    background-size: cover;
}

.work__logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100,194,158,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.work__content {
    padding: 4.6667rem 4.3333rem 3.6667rem;
    position: relative;
}

.work__content::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}

/* SLIDER */

.slider {
    background-color: #f7f7f7;
    padding: 8rem 0 4rem;
}

.slider__icon {
    margin-bottom: 2.33rem;
}

.slider__icon img {
    margin: 0 auto;
}

.slider__item {
    text-align: center;
}

.slider__header {
    margin-bottom: 1.33rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__title {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #353738;
    font-weight: 700;
}

.slider__time {
    margin-left: 1rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #848789;
    font-weight: 300;
}

.slider__content {
    font-size: 1.6rem;
    line-height: 1.416;
    color: #848789;
    font-style: italic;
}

.slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 50%;
}

.slick-dots li {
    margin: 0 0.3rem;
}

.slick-dots button {
    width: 11px;
    height: 11px;
    border-radius: 50%;;
    border: 1px solid #c8c8c8;
    background-color: transparent;

    font-size: 0;
    color: transparent;
    cursor: pointer;
}

li.slick-active button {
    background-color: #a9afb3;
}

/* MEDIA-QUERY */

@media (max-width: 1400px) {

    /* BLOCK */

    .block__text--mini::after {
        margin: 1rem auto 0;
    }

    /* WORK */

    .work__content {
        padding: 2.6667rem 2.33rem 2rem;
    }

}

@media (max-width: 1100px) {

    /* WORK */

    .work__col {
        flex: 100%;
    }

    .work__col--big {
        flex: 100%;
    }

    .work__col--second {
        order: 2;
    }
    
    .work__col--big--second {
        order: 1;
    }
    
    .work__photo {
        height: 100%;
        padding-bottom: 70%;
    }
}

@media (max-width: 991px) {

    /* ABOUT */

    .about {
        padding: 5.33rem 0;
    }

    /* SLIDER */

    .slider {
        padding: 4rem 0 4rem;
    }

}

@media (max-width: 767px) {

    /* HEADER */

    .header {
        top: 1.5rem;
    }

    .header__iner {
        justify-content: flex-end;
    }
    
    /* nav */

    .nav {
        padding: 10rem 0 0 0;
        width: 100%;
        height: 100%;
        background-color: #4d4959;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: all .3s linear;
    }

    nav.active {
        transform: translate3d(0px, 0px, 0px);
    }

    .nav__link {
        font-size: 1.33rem;
        color: transparent;
        padding: 0 0 3rem 0;
        transition: color .3s linear;
    }

    nav.active .nav__link {
        color: #fff;
    }

    nav.active .nav__link:hover,
    nav.active .nav__link:focus{
        color: #64c29e;
    }

    .nav__link:nth-child(2) {
        padding: 0 0 3rem 0;
    }

    .nav__link:nth-child(3) {
        padding: 0 0 3rem 0;
    }

    .nav__link::after {
        width: 4px;
        height: 4px;
        background-color: #fff;
        right: 50%;
        top: 45px;
        margin-right: -2px;
    }

    .nav__link:nth-child(2)::after {
        display: block;
    }

    .nav__link:nth-child(3)::after {
        display: block;
    }

    /* BURGER MENU */

    .burger {
        display: block;
    }

    /* ABOUT */

    .about {
        padding: 2rem 0;
    }
}

@media (max-width: 565px) {

    /* SLIDER */

    .slider {
        padding: 2rem 0 2rem;
    }

    .slider__time {
        font-size: 1rem;
    }

    .slider__content {
        font-size: 1.06rem;
    }

}
